.light{
    --page-background: #FFF;
    --primary-background: #00A335;
    background-color: var(--page-background);
    color: #000;
}

.dark{
    --page-background: #000;
    --primary-background: red;
    background-color: var(--page-background);
    color: #FFF;
}